<!doctype html>
<html>
    <head>
        <% include ../partials/head %>
        <script>
            var socket = io('http://localhost:3000/game-namespace');

            var gameInfo = {};
            socket.on('_update-game', function(info) {
                gameInfo = info;
            });
            socket.on('_begin-game', function() {
                var temp = document.getElementById('soup-screen-temp');

                //Clear out what is already there
                document.getElementById('main').innerHTML = "";
                //Append the template
                document.getElementById('main').appendChild(temp.content.cloneNode(true));
            });

            //to be called by the submit button on the username form
            function setUsername(id) {
                var username = document.getElementById(id).value; //look at cleanInput for this...

                // If the username is valid
                if (username) {
                    // Tell the server your username
                    myUsername = username;
                    socket.emit('_add_user', myUsername);
                }
            }

            function beginGame(data) {
                document.getElementById('test').innerHTML = "poopy";
                //data.numUsers and data.username
            }
        </script>

    </head>

    <template id="soup-screen-temp">
        <div class="row">
            <div class="col s1">1</div>
            <div class="col s1">2</div>
            <div class="col s1">3</div>
            <div class="col s1">4</div>
        </div>
        <div class="row">
            <div class="col s1">1</div>
            <div class="col s1">2</div>
            <div class="col s1">3</div>
            <div class="col s1">4</div>
        </div>
        <div class="row">
            <div class="col s1">1</div>
            <div class="col s1">2</div>
            <div class="col s1">3</div>
            <div class="col s1">4</div>
        </div>
        <div class="row">
            <div class="col s1">1</div>
            <div class="col s1">2</div>
            <div class="col s1">3</div>
            <div class="col s1">4</div>
        </div>
    </template>

    <body>
        <main id="main">
            <form action="#">
                <input id="newuser" name="newuser" type="text">
                <label for="newuser">Nickname</label>
                <button onClick="<%- " setUsername('newuser')" %>" id="name-form">Enter</button>
            </form>
        </main>
    </body>
</html>
