<!doctype html>
<html>
    <head>
        <% include ../partials/head %>
        <script>
            var socket = io('http://localhost:3000/game-namespace');

            var gameInfo = {};
            socket.on('_update-game', function(info) {
                gameInfo = info;
            });
            socket.on('_begin-game', function() {
                var temp = document.getElementById('soup-screen-temp');
                for(var i = 0; i<16; i++) {
                    temp.content.querySelector('#sq_' + i).innerHTML = gameInfo.letters[i];
                }
                //Clear out what is already there
                document.getElementById('main').innerHTML = "";
                //Append the template
                document.getElementById('main').appendChild(temp.content.cloneNode(true));
            });

            //to be called by the submit button on the username form
            function setUsername(id) {
                var username = document.getElementById(id).value; //look at cleanInput for this...

                // If the username is valid
                if (username) {
                    // Tell the server your username
                    myUsername = username;
                    socket.emit('_add_user', myUsername);
                }
            }

            function beginGame(data) {
                document.getElementById('test').innerHTML = "poopy";
                //data.numUsers and data.username
            }
        </script>

    </head>

    <template id="soup-screen-temp">
        <div class="row" id="row1">
            <div class="col s1" id="sq_0">1</div>
            <div class="col s1" id="sq_1">2</div>
            <div class="col s1" id="sq_2">3</div>
            <div class="col s1" id="sq_3">4</div>
        </div>
        <div class="row" id="row2">
            <div class="col s1" id="sq_4">1</div>
            <div class="col s1" id="sq_5">2</div>
            <div class="col s1" id="sq_6">3</div>
            <div class="col s1" id="sq_7">4</div>
        </div>
        <div class="row" id="row3">
            <div class="col s1" id="sq_8">1</div>
            <div class="col s1" id="sq_9">2</div>
            <div class="col s1" id="sq_10">3</div>
            <div class="col s1" id="sq_11">4</div>
        </div>
        <div class="row" id="row4">
            <div class="col s1" id="sq_12">1</div>
            <div class="col s1" id="sq_13">2</div>
            <div class="col s1" id="sq_14">3</div>
            <div class="col s1" id="sq_15">4</div>
        </div>
    </template>

    <body>
        <main id="main">
            <form onsubmit="return false;">
                <input id="newuser" name="newuser" type="text">
                <label for="newuser">Nickname</label>
                <button onClick="<%- " setUsername('newuser')" %>" id="name-form">Enter</button>
            </form>
        </main>
    </body>
</html>
