<!doctype html>
<html>
    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <main>
            <form action="/index" method="post">
                <input id="newuser" name="newuser" type="text">
                <label for="newuser">Nickname</label>
                <button type="submit">Enter</button>
            </form>
        </main>
    </body>
</html>
