<!doctype html>
<html>
    <head>
        <% include ../partials/head %>
        <script>
            var socket = io('http://localhost:3000/game-namespace');

            var gameInfo = {};
            socket.on('_update-game', function(info) {
                gameInfo = info;
                if (gameInfo.player[0].words.length > 0) {
                    if (document.getElementById('user_1')) {
                        for (var i = 0; i < gameInfo.player[0].words.length; i++) {
                            var newP = document.createElement('p');
                            newP.innerHTML = gameInfo.player[0].words[i];
                            document.getElementById('user_1').appendChild(newP);
                        }
                    }
                }
                if (gameInfo.player[1].words.length > 0) {
                    if (document.getElementById('user_2')) {
                        for (var i = 0; i < gameInfo.player[1].words.length; i++) {
                            var newP = document.createElement('p');
                            newP.innerHTML = gameInfo.player[1].words[i];
                            document.getElementById('user_2').appendChild(newP);
                        }
                    }
                }
            });
            socket.on('_begin-game', function() {
                var temp = document.getElementById('soup-screen-temp');
                for (var a = 0; a < 16; a++) {
                    temp.content.querySelector('#sq_' + a).innerHTML = gameInfo.letters[a];
                }
                temp.content.querySelector('#title_1').innerHTML = gameInfo.players[0].name;
                temp.content.querySelector('#title_2').innerHTML = gameInfo.players[1].name;

                //Clear out what is already there
                document.getElementById('main').innerHTML = "";
                //Append the template
                document.getElementById('main').appendChild(temp.content.cloneNode(true));
            });

            //to be called by the submit button on the username form
            function setUsername(id) {
                var username = document.getElementById(id).value; //look at cleanInput for this...

                // If the username is valid
                if (username) {
                    // Tell the server your username
                    myUsername = username;
                    socket.emit('_add_user', myUsername);
                }
            }

            function submitWord(id) {
                var word = document.getElementById(id).value; //look at cleanInput for this...

                if (word) {
                    socket.emit('_submit-word', word);
                }
            }

            function doDisconnect() {
                socket.emit('_disconnect');
            }
        </script>

    </head>

    <template id="soup-screen-temp">
        <div class="row" id="row1">
            <div class="col s1" id="sq_0">1</div>
            <div class="col s1" id="sq_1">2</div>
            <div class="col s1" id="sq_2">3</div>
            <div class="col s1" id="sq_3">4</div>
            <div class="col s2" id="user_1">
                <span id="title_1"></span>
            </div>
            <div class="col s2" id="user_2">
                <span id="title_2"></span>
            </div>
        </div>
        <div class="row" id="row2">
            <div class="col s1" id="sq_4">1</div>
            <div class="col s1" id="sq_5">2</div>
            <div class="col s1" id="sq_6">3</div>
            <div class="col s1" id="sq_7">4</div>
        </div>
        <div class="row" id="row3">
            <div class="col s1" id="sq_8">1</div>
            <div class="col s1" id="sq_9">2</div>
            <div class="col s1" id="sq_10">3</div>
            <div class="col s1" id="sq_11">4</div>
        </div>
        <div class="row" id="row4">
            <div class="col s1" id="sq_12">1</div>
            <div class="col s1" id="sq_13">2</div>
            <div class="col s1" id="sq_14">3</div>
            <div class="col s1" id="sq_15">4</div>
        </div>
        <div class="row">
            <form onsubmit="return false;">
                <input id="newword" name="newword" type="text">
                <label for="newword">Words</label>
                <button onClick="<%- " setUsername('newword')" %>" id="word-form">Submit</button>
            </form>
        </div>
    </template>

    <body>
        <main id="main">
            <form onsubmit="return false;">
                <input id="newuser" name="newuser" type="text">
                <label for="newuser">Nickname</label>
                <button onClick="<%- " setUsername('newuser')" %>" id="name-form">Enter</button>
            </form>
        </main>
    </body>
</html>
